@@ -134,47 +134,47 @@
&hold_tap F1 NUMBER_1  &hold_tap F2 NUMBER_2  &hold_tap F3 NUMBER_3  &hold_tap F4 NUMBER_4  &hold_tap F5 N5    &hold_tap F6 NUMBER_6                                                  &hold_tap F7 N7  &hold_tap F8 N8  &hold_tap F9 N9  &hold_tap F10 N0   &hold_tap MINUS EQUAL  &hold_tap LC(BACKSPACE) BACKSPACE
&hold_tap LS(TAB) TAB  &hold_tap LC(Q) Q      &kp W                  &kp E                  &kp R              &hold_tap LC(T) T                                                      &kp Y            &kp U            &kp I            &hold_tap F11 O    &hold_tap F12 P        &kp BSLH
&kp LEFT_CONTROL       &hold_tap LC(A) A      &kp S                  &kp D                  &hold_tap LC(F) F  &kp G                                                                  &kp H            &kp J            &kp K            &hold_tap LG(L) L  &kp SEMI               &kp SQT
&kp LEFT_SHIFT         &hold_tap LEFT_GUI Z   &hold_tap LC(X) X      &hold_tap LC(C) C      &hold_tap LC(V) V  &kp B                  &layernav_dance          &bluetooth_dance       &kp N            &kp M            &kp COMMA        &kp DOT            &kp FSLH               &kp RSHFT
                                                                     &kp LALT               &mo 2              &mo 3                  &hold_tap ENTER SPACE    &hold_tap SPACE ENTER  &mo 1            &mo 2            &kp MINUS
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        Nums {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |
            label = "Num";
            bindings = <
&kp GRAVE  &hold_tap F2 HOME  &kp LEFT_BRACKET  &kp SLASH        &kp ASTERISK     &kp MINUS                     &kp GRAVE        &kp RIGHT_BRACKET  &kp SLASH        &kp ASTERISK     &kp MINUS  &trans
&trans     &kp END            &kp KP_NUMBER_7   &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS                      &kp TAB          &kp KP_NUMBER_7    &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp PLUS   &trans
&trans     &kp SEMICOLON      &kp KP_NUMBER_4   &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PIPE                      &kp SEMICOLON    &kp KP_NUMBER_4    &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp PIPE   &trans
&trans     &kp KP_NUMBER_0    &kp KP_NUMBER_1   &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp ENTER   &trans    &trans  &kp SPACE        &kp KP_N1          &kp KP_NUMBER_2  &kp KP_NUMBER_3  &kp ENTER  &trans
                                                &kp KP_NUMBER_0  &kp COMMA        &kp PERIOD  &trans    &trans  &kp KP_NUMBER_0  &kp COMMA          &kp PERIOD
            >;
            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        Arrows {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |
            label = "Arrows";
            bindings = <
&trans  &trans          &trans                   &kp INSERT                       &kp HOME                   &kp PAGE_UP                      &kp HOME        &kp PG_UP                &kp INSERT                           &mkp LCLK                        &mmv MOVE_UP    &mkp RCLK
&trans  &trans          &trans                   &hold_tap LC(UP_ARROW) UP_ARROW  &kp END                    &kp PAGE_DOWN                    &kp END         &kp PAGE_DOWN            &hold_tap LC(UP_ARROW) UP_ARROW      &mmv MOVE_LEFT                   &mmv MOVE_DOWN  &mmv MOVE_RIGHT
&trans  &kp LEFT_SHIFT  &hold_tap LC(LEFT) LEFT  &hold_tap LC(DOWN) DOWN          &hold_tap LC(RIGHT) RIGHT  &trans                           &kp LEFT_SHIFT  &hold_tap LC(LEFT) LEFT  &hold_tap LC(DOWN_ARROW) DOWN_ARROW  &hold_tap LC(RIGHT_ARROW) RIGHT  &msc SCRL_UP    &msc SCRL_DOWN
&trans  &trans          &trans                   &trans                           &bt BT_CLR                 &out OUT_USB   &trans    &trans  &out OUT_BLE    &bt BT_CLR               &bt BT_CLR_ALL                       &trans                           &trans          &trans
                                                 &trans                           &trans                     &kp ENTER      &trans    &trans  &kp SPACE       &trans                   &trans
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
        Swap {
            bindings = <
&hold_tap LEFT_BRACE LEFT_BRACKET  &hold_tap RIGHT_BRACE RIGHT_BRACKET  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp EQUAL  &kp LC(LS(ESCAPE))                          &kp LBKT  &kp RBKT  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans  &trans
&trans                             &kp Y                                &kp U                 &kp I                  &kp O      &kp P                                       &kp Q     &kp W     &kp E                 &kp R                  &kp T   &trans
&trans                             &kp H                                &kp J                 &kp K                  &kp L      &kp SEMI                                    &kp A     &kp S     &kp D                 &kp F                  &kp G   &trans
&trans                             &kp N                                &kp M                 &kp COMMA              &kp DOT    &kp FSLH            &trans       &trans     &kp Z     &kp X     &kp C                 &kp V                  &kp B   &trans
                                                                                              &trans                 &trans     &trans              &kp ENTER    &kp SPACE  &trans    &trans    &trans
            >;
            label = "Swap";
        };
    };
};
